version: '3.8'

services:
  frontend:
      image: ecr-g1mg04-frontend
      build:
        context: ./Frontend     
        dockerfile: Dockerfile
      container_name: ecr-g1mg04-frontend
      ports:
        - "8080:8080"
      environment:
        - VITE_API_URL=/api
        - CHOKIDAR_USEPOLLING=true
      volumes:
        - ./Frontend:/app
        - /app/node_modules 
      networks:
        - app-network


networks:
  app-network:
    driver: bridge 