version: '3.8'

services:
  frontend:
      build:
        context: ./Frontend     
        dockerfile: Dockerfile
      container_name: frontend-service
      ports:
        - "8080:8080"
      environment:
        - VITE_API_URL=/api
        - CHOKIDAR_USEPOLLING=true
      volumes:
        - ./Frontend:/app
        - /app/node_modules 
      networks:
        - app-network

networks:
  app-network:
    driver: bridge 